@media screen and (max-width: 1130px)   {
    @mixin header2 {
        line-height: 30.08px;
    }
    header {
        .container {
            ul {
                display: none;
            }
            
        }
    }
    .hero {
        .container {
            flex-direction: column;
            img {
                margin: 0 auto;
                order: 0;
            }
            .hero__content{
                order: 1;
            }
        }
    }
    .about {
        padding-top: 90px;
        .container {
            h2 {
                @include header2;
                margin-bottom: 40px;
            }
            .about__cards {
                .about__card {
                    .card__img {
                        width: 70px;
                        height: 70px;
                        img {
                            width: 60%;
                        }
                    }
                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .service {
        .container {
            h2 {
                @include header2;
            }
            .service__cards {
                gap: 10px;
                .service__card {
                    .card__img {
                        width: 60px;
                        height: 60px;
                        img {
                            width: 60%;
                        }
                    }
                    padding: 0 10px 30px 10px;
                    p {
                        font-size: 13px;
                        line-height: 20px;
                    }
                    h3 {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .projects {
        .container {
            h2 {
                @include header2;
            }
            .projects__cards {
                grid-template-columns: 1fr 1fr;
                p {
                    font-size: 18px;
                }
            }
        }
    }
    .team {
        padding-top: 60px;
        .container {
            h2 {
                @include header2;
            }
            .team__cards {
                grid-template-columns: 1fr 1fr;
                .team__card {
                    .card__img {
                        height: 400px;
                        img {
                            object-position: center top;
                            height: 110%;
                            transform: translateY(-30px);
                        }
                    }
                }
            }
        }
    }
    .testimonial {
        .container {
            h2 {
                @include header2;
            }
            .test__box {
                width: 500px;
                overflow: hidden;
                img {
                    transform: scale(80%);
                }
                .img1 {
                    position: absolute;
                    top: -120px;
                    left: 80px;
                }
                .img2 {
                    position: absolute;
                    left: -120px;
                    top: 40px;
                }
                .img3 {
                    position: absolute;
                    right: -120px;
                    top: 60px;
                }
                .img4 {
                    position: absolute;
                    left: 50px;
                    top: 80px;
                }
                .img5 {
                    position: absolute;
                    left: -50px;
                    bottom: -120px;
                }
                .img6 {
                    position: absolute;
                    right: -80px;
                    bottom: -120px;
                }
                .radius1 {
                    position: absolute;
                    top: 200px;
                    right: 150px;
                }
                .radius2 {
                    position: absolute;
                    top: 220px;
                    left: 150px;
                }
                .radius3 {
                    position: absolute;
                    top: 350px;
                    left: 140px;
                }
                .radius4 {
                    position: absolute;
                    bottom: 130px;
                    right: 200px;
                }
            }
            .test__content {
                margin-left: calc(40% + 10px);
            }
        }
    }
    .contact {
        .container {
            h2 {
                @include header2;
            }
        }
    }
    footer {
        .container {
            .footer__box {
                .footer__header{
                    width: 200px;
                }
                form {
                    width: 200px;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    @mixin header2 {
        font-size: 30px;
    }
    @mixin btn {
        padding: 10px 20px;
    }
    header {
        .container {
            .btn {
                @include btn;
            }
            .header__img {
                width: 150px;
            }
        }
    }
    .hero {
        .container {
            .hero__content {
                h1 {
                    font-size: 60px;
                    line-height: 60px;
                    margin-bottom: 25px;
                    margin-top: 30px;
                }
                p {
                    font-size: 16px;
                    line-height: 18px;
                    margin-bottom: 30px;
                }
            }
        }
    }
    .about {
        padding-top: 90px;
        .container {
            h2 {
                @include header2;
                margin-bottom: 30px;
            }
            .about__cards {
                padding: 40px 0;
                row-gap: 40px;
                flex-direction: column;
                align-items: center;
                .about__card {
                    width: 50%;
                    .card__img {
                        width: 100px;
                        height: 90px;
                        img {
                            width: 60%;
                        }
                    }
                    p {
                        font-size: 22px;
                    }
                }
                .hr {
                    width: 90%;
                    height: 0;
                }
            }
        }
    }
    .service {
        .container {
            h2 {
                @include header2;
            }
            .service__cards {
                flex-wrap: wrap;
                row-gap: 70px;
                .service__card {
                    .card__img {
                        width: 80px;
                        height: 80px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .projects {
        .container {
            h2 {
                @include header2;
            }
            .projects__cards {
                row-gap: 40px;
                grid-template-columns: 1fr;
                p {
                    font-size: 20px;
                }
            }
        }
    }
    .team {
        .container {
            h2 {
                @include header2;
            }
            .team__cards {
                grid-template-columns: 1fr;
                .team__card {
                    .card__img {
                        height: 400px;
                        img {
                            object-position: center top;
                            height: 110%;
                            transform: translateY(-30px);
                        }
                    }
                }
            }
        }
    }
    .testimonial {
        padding-top: 50px;
        height: 550px;
        .container {
            h2 {
                @include header2;
                margin-bottom: 30px;
            }
            .test__box {
                left: 50%;
                transform: scale(50%) translate(-100%, -50%) ;
            }
            .test__content {
                margin-left: calc(30% + 10px);
                transform: scale(70%) translate(-10%, -270%);
            }
        }
    }
    .contact {
        .container {
            h2 {
                @include header2;
            }
            form {
                div {
                    grid-column: span 2;
                }
                .btn {
                    grid-column: span 2;
                }
            }
        }
    }
    footer {
        .container {
            .footer__box {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
                .footer__header{
                    width: 170px;
                    grid-column: span 2;
                }
                form {
                    grid-column: span 2;
                    width: 100%;
                }
            }
            .footer__bottom {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
        }
    }
}   